#light .home__container {
    display: flex;
    background-color: aliceblue;
    color: aliceblue;
    height: 100vh;
    padding: 20px;
}

#dark .home__container {
    background-color: #151529;
    display: flex;
    color: aliceblue;
    height: 100vh;
    padding: 20px;
}

#dark .home__wrapper {
    background-color: #151529;
    display: flex;
    width: 100%;
    border-radius: 25px;
    padding: 10px;
    border: 3px solid #4f4f82;
}

#light .home__wrapper {
    background-color: azure;
    display: flex;
    width: 100%;
    border-radius: 25px;
    padding: 10px;
    border: 3px solid #4f4f82;
}

.home__contents {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.media__content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

#light .video__deration {
    height: 150px;
    width: 98%;
    border-radius: 16px;
    background-color: #151529;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dark .video__deration {
    height: 150px;
    width: 98%;
    border-radius: 16px;
    background-color: #151529;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #232343;
}