.layers__container {
    height: 100%;
    width: 25%;
    background-color: #191930;
    border: 3px solid #25253e;
    border-radius: 16px;
    padding: 10px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.layer__heading {
    display: flex;
    width: 100%;
    color: #4c4c7e;
    justify-content: space-between;
    font-size: 12px;
    padding-bottom: 10px;
    background-color: #191930;
}

.layer__element {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.layer__element__active {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: aliceblue;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.371);

}

.layer__element__active span {
    color: #191930;
}

.layer__element__active .layer__element__delete__btn {
    display: flex;
}


.layer__element__icon {
    color: azure;
    font-size: 20px;
    margin-right: 40px;
}

.layer__element__name {
    color: azure;
    font-size: 14px;
}

.layer__element__time {
    font-size: 10px;
    color: #4c4c7e;
}

.layer__element__delete {}

.layer__element__delete__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #25253e;
    font-size: 15px;
    display: none;
}

.layer__element__delete__btn:active {
    color: #191930;
    background-color: azure;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    visibility: hidden;
    margin: 20px 0;
}

#dark ::-webkit-scrollbar-thumb {
    background-color: #4c4c7e;
    border-radius: 25px;
    margin-top: 50px;
}

#dark ::-webkit-scrollbar-thumb:hover {
    background-color: #39395f;
}

#light ::-webkit-scrollbar-thumb {
    background-color: azure;
    border-radius: 25px;
}

#light ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(200, 213, 213);
}