.navbar__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0 20px 0;
}

#dark .nav__media__header {
    font-size: 18px;
    letter-spacing: .1ch;
}

#light .nav__media__header {
    font-size: 18px;
    letter-spacing: .1ch;
    color: #232343;
}

.nav__media__info {
    display: flex;
    align-items: center;
    color: #4c4c7e;
    font-size: 12px;
    font-weight: 500;
}

.nav__right {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.theme__text {
    color: #4c4c7e;
    font-size: 12px;
}

.nav__btn {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #232343;
    color: aliceblue;
}

#dark .nav__btn:focus {
    color: #151528;
    background-color: aliceblue;
    font-size: 30px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.338);
}

#light .nav__btn:focus {
    color: #151528;
    background-color: aliceblue;
    font-size: 30px;
    box-shadow: 0 0 20px rgba(2, 11, 35, 0.609);
}