.sidebar__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    padding: 10px 10px 15px 0;
}

.sidebar__expand__button {
    color: #3c3c66;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 18px;
    width: 75px;
    height: 60px;
    transition: all .1s;
    margin-bottom: 20px;
}

.sidebar__expand__button:active {
    color: azure;
}

.sidebar__container ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.sidebar__button {
    color: #3c3c66;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border-radius: 12px;
    width: 65px;
    height: 45px;
    transition: all .1s;
}

#dark .sidebar__button:hover {
    color: aliceblue;
}

#light .sidebar__button:hover {
    color: azure;
    background-color: #191932;
    box-shadow: 0 0 20px rgba(6, 5, 45, 0.508);
    border: none;
}

#dark .sidebar__button:focus {
    color: #191932;
    background-color: azure;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.234);
    border: none;
}

#light .sidebar__button:focus {
    color: azure;
    background-color: #191932;
    box-shadow: 0 0 30px rgba(6, 5, 45, 0.508);
    border: none;
}

.sidebar__button:focus {
    color: #191932;
    background-color: azure;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.234);
    border: none;
}

#dark .sidebar__selected__option {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 2px solid #3c3c66;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding: 8px;
    transition: all .1s;
}

#light .sidebar__selected__option {
    color: #191932;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 2px solid #3c3c66;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding: 8px;
    transition: all .1s;
}